*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*/build
/captures
.externalNativeBuild
.cxx
local.properties
#/animated-base/build
#/animated-drawable/build
#/animated-gif/build
#/animated-gif-lite/build
#/animated-webp/build
#/build
#/build
#/build
